@model IEnumerable<nqhDay03View.Models.Category>



<ul class="list-group-bg-danger">
    <li class="list-group-item active" aria-current="true">Danh Mục</li>
    
    
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a href="/">@item.Name</a>
        </li>
        <p>@item.Name</p>
    }
</ul>