<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://www.netabooks.vn/Data/Sites/1/Product/18268/1.jpg" class="d-block w-100" alt="Chí Phèo" />
                        <div class="caption">
                            <h3>Chí Phèo</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://www.netabooks.vn/Data/Sites/1/Product/76823/lao-hac-tap-truyen-ngan-tai-ban.jpg" class="d-block w-100" alt="Lão Hạc" />
                        <div class="caption">
                            <h3>Lão Hạc</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://bizweb.dktcdn.net/100/358/522/products/1-jpeg-28c56764-b2a2-4a8e-9745-16502e35c0af.jpg?v=1692606390927" class="d-block w-100" alt="Dế mèn phiêu lưu ký" />
                        <div class="caption">
                            <h3>Dế mèn phiêu lưu ký</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://product.hstatic.net/1000237375/product/bia_truoc_08_b4497226ce524fd79a1d81b9086b99a9_medium.jpg" class="d-block w-100" alt="Tắt đèn" />
                        <div class="caption">
                            <h3>Tắt đèn</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>