
@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
<h1>@ViewData["Title"]</h1>
<hr/>
<p>Mã sinh viên:2210900105</p>
<p>Họ Và Tên:Nguyễn Quang Huy</p>
<p>Lớp:K22CNT4</p>
<p>Email:nguyenquanghuy285204@gmail.com</p>
<p>Điện THoại
    <a href="tel:0392842805">0392 842 805</a>
</p>
</div>
