<div class="row">
    <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body product-item">
                <img src="~/images/chi-pheo.jpg" class="img-responsive" alt="chí phèo" />
                <div class="caption">
                    <p class="book-title">chí phèo</p>
                    <p class="book-author">Nam Cao</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body product-item">
                <img src="~/images/Lao-Hac.jpg" class="img-responsive" alt="Lão Hạc" />
                <div class="caption">
                    <p class="book-title">Lão Hạc</p>
                    <p class="book-author">Nam Cao</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body product-item">
                <img src="~/images/de-men-phieu-luu-ky.jpg" class="img-responsive" alt="Dế mèn phiêu lưu ký" />
                <div class="caption">
                    <p class="book-title">dế mèn phiêu lưu ký</p>
                    <p class="book-author">Tô Hoài</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body product-item">
                <img src="~/images/Tat-den.jpg" class="img-responsive" alt="Tắt đèn" />
                <div class="caption">
                    <p class="book-title">Tắt đèn</p>
                    <p class="book-author">Ngô Tất Tố</p>
                </div>
            </div>
        </div>
    </div>
</div>