<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - nqhDay03View - <a asp-area="" asp-controller="nqhHome" asp-action="nqhAbout">Thông tin</a>
    </div>
</footer>