@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 fw-bold text-primary">Website Bán Giày </h1>
    <p class="lead text-muted mt-3">
        Chào mừng bạn đến với website bán giày của chúng tôi!
        Nơi mang đến cho bạn những mẫu giày <b>thời trang, chất lượng và giá tốt nhất</b>.
    </p>

    <hr class="my-4" />

   
    </div>
</div>
